:root {
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

  /*Colors*/
  --color-background: #ffffff;
  --primary: #000000;
  --secondary: #e4e3e3;
  --logo: #ff0000;
  --transparent: rgba(245, 245, 245, 0.862);

  /*Fonts*/
  --font-size: 14px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: 'Ubuntu', sans-serif; /* Aplicar la fuente Ubuntu */
  font-size: 16px; /* Tamaño de fuente predeterminado */
  overflow-x: hidden;
}

header.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 18px;
}
#buscador {
  width: 90%;
  height: 60px;
  border-radius: 30px;
  border: none;
  background-color: var(--secondary);
  font-size: 20px;

  gap: 19px;
}
.header_logo {
  padding-right: 10px;
  cursor: pointer;
}
#notificaciones {
  padding: 10px;
  cursor: pointer;
}
#mensajes {
  padding: 10px;
  cursor: pointer;
}
#usuario {
  padding: 10px;
  cursor: pointer;
}
@media (max-width: 700px) {
  #buscador {
    width: 100%;
    padding-left: 10px;
  }
  #notificaciones {
    display: none;
  }
  #mensajes {
    display: none;
  }
  #usuario {
    padding-left: 10px;
  }
}
