.main-footer {
  width: calc (100% -40px);
  height: 90%;
  padding: 20px;
  background-color: var(--primary);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Ubuntu';
  font-size: 20px;
}

@media (max-width: 480px) {
  .main-footer {
    font-size: 11px;
    padding-right: 18px;
  }
}
